.card {
	display: block;
	box-shadow: 0px 0px 0px 1px rgba(228,228,228,1);
	padding: 8px 0 13px;
	background: #fff;
	color: #01010e;
	text-decoration: none;
	border-radius: 2px;
	transition: box-shadow 0.2s ease-out 0s;
	&:hover {
		text-decoration: none;
		color: #01010e;
		box-shadow: 0px 0px 10px 1px rgba(255,180,41,1);
	}
}
.card__img {
	text-align: center;
	margin-bottom: 27px;
	img {
		max-width: 100%;
		height: auto;
	}
}
.card_inner {
	padding: 0 15px;
}

.card__text {
    overflow: hidden;
    height: 66px;
    width: 100%;
	font-weight: 700;
	margin-bottom: 6px;
}

.card__user {
	color: #a1a1a1;
	.fas {
		display: inline-block;
		position: relative;
		top: -1px;
		font-size: 10px;
		color: #efefef;
	}
}
.card__line {	
	border-bottom: 1px solid #e4e4e4;
    margin: 6px 0;
}
.card__rating {
	color: #ffb429;
	font-weight: 700;
	.fas {
		display: inline-block;
		position: relative;
		font-size: 12px;
	}
}
.cart__number {
	color: #b4b4b4;
    font-size: 14px;
    font-weight: 400;
	display: inline-block;
	margin-left: 5px;
}
.card__fa-heart {
	font-size: 18px;
    color: #e4e6dd;
    padding-top: 4px;
}
.card__price {
	color: #3a9548;
    font-weight: 700;
    font-size: 19px;
	.fas {
		font-size: 15px;
		position: relative;
		top: -1px;
		margin-left: 2px;
	}
}